.app-footer {
    background-color: #EEF2F7;
    padding: 80px 30px;

    p {
        color: #B1B1B1;
        font-size: 14px;
    }

    .menu-column {
        li {
            margin: 10px 0;

            a {
                color: #55556F;
                font-size: 14px;
            }
        }
    }

    
}