.app-footer {
  background-color: #eef2f7;
  padding: 80px 30px;

  p {
    color: #b1b1b1;
    font-size: 14px;
  }

  .menu-column {
    li {
      margin: 10px 0;

      a {
        color: #55556f;
        font-size: 14px;
      }
    }
  }
}
